Обнуление*/ * {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

/*::-webkit-input-placeholder { color:#FFF;} */
/* :-moz-placeholder { color:#FFF;} */
/* .placeholder { color:#FFF;}*/
/*Основные стили*/
html,
body {
	font-family: Arial, "Hlvetica Neue", Arial, Helvetica, sans-serif;
	color: hsl(0, 0%, 0%);
	font-size: 20px;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 100%;
	margin: 0px auto;
	padding: 0px 50px;
}
.header {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 60;
}
/* Делаем плашку для выезда */
.header::before {
	content: "";
	background-color: #cfe7fa;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__logo {
	flex: 0 0 150px;
	position: relative;
	overflow: hidden;
	z-index: 3;
}
.header__logo img {
	max-width: 100%;
}
/* Верстаем бургер */
.header__burger {
	display: none;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}
.header__list li {
	display: block;
	list-style: none;
	margin: 0px 0px 0px 30px;
	/*	z-index: 4;*/
}
.header__link {
	color: #2e2e2e;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	line-height: 50px;
	text-transform: uppercase;
	color: chartreuse;
	text-decoration: none;
	letter-spacing: 2px;
	background-color: #77608b;
	align-items: center;
	padding: 0px 10px;
	border-radius: 8px;
}
@media (max-width: 767px) {
	.body.lock {
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 80px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	/* Средняя полоса бургера */
	.header__burger span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	/* Верхняя полоса бургера */
	.header__burger:before {
		top: 0;
	}
	/* Нижняя полоса бургера */
	.header__burger:after {
		bottom: 0;
	}
	/*делаем из бургера крестик*/
	/*Это уберёт среднюю полосу при нажатии */
	.header__burger.active span {
		transform: scale(0);
	}
	/*Поворачиваем верхнюю полоску*/
	.header__burger.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	/*Поворачиваем нижнюю полоску*/
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto; /*Скрол внутри бургера*/
		transition: all 0.3s ease 0s;
		background-color: #18b5a4;
		padding: 70px 10px 20px 10px;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		display: block;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
	}
	/*Делаем скрол внутри выпадающего меню в бургере в этом пункте увеличиваем шрифт*/
	.header__link {
		font-size: 24px;
	}
}
.fullscreen {
	background-image: url(../images/header-bg.jpg);
	min-height: 100vh;
	display: flex;
	padding: 20px 0;
}
.fullscreen__body {
	background-color: burlywood;
	flex: 1 1 auto;
	width: 100%;
	padding: 60px 20px;
	max-width: 960px;
	margin: 0px auto;
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}
.full__content {
}
.full__container {
}
.full__title {
	font-family: 'Times New Roman', Times, serif;
	font-size: 50px;
	margin: 0px 0px 20px 0px;
}
.full__text {
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	margin: 0px 0px 20px 0px;
}
.tel1 span{
	font-size: 30px;
}

.full__li li{
	background: url(../images/icon.png) 0 10px no-repeat;
	font-family: 'Times New Roman', Times, serif;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 30px;
	line-height: 40px;
	padding: 0px 0px 0px 36px;
	margin: 0px 0px 30px 0px;
}
.full__li li strong{
	color: #7d29c8;
	font-weight: normal;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Этот блок под вопросом начало блока*/
.contact_line {
	display: flex;
	padding: 80px;
}
.slogan {
	font-size: 18px;
	line-height: 25px;
}

.tel1 {
	font-size: 18px;
	line-height: 25px;
}
.contact_txt {
	font-size: 18px;
	line-height: 25px;
}
/*Этот блок под вопросом конец блока*/

.footer {
	background-color: darkcyan;
	width: 100%;
	top: 0px;
	left: 0px;
}
.footer__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.footer__logo {
	margin: 0px auto;
	flex: 0 0 150px;
	position: relative;
	overflow: hidden;
}
.footer__logo img {
	max-width: 100%;
}
.footer__menu {
}
.footer__list {
	display: flex;
	position: relative;
}
.footer__list li {
	display: block;
	list-style: none;
	margin: 0px 50px 0px 30px;
	padding: 0px auto;
}
.footer__link {
	color: #2e2e2e;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	line-height: 50px;
	text-transform: uppercase;
	color: chartreuse;
	text-decoration: none;
	letter-spacing: 2px;
	background-color: #77608b;
	align-items: center;
	padding: 0px 10px;
	border-radius: 8px;
}
.footer__link1 {
	content: "";
	padding: 10px 0px 0px 0px;
	display: flex;
	font-size: 30px;
	text-align: center;
	align-items: center;
}
